@font-face {
    font-family: "Trajan";
    src: url('../font/TrajanBold.ttf'); /* Adjust the path to the font file */
}

.label-with-custom-font {
    -fx-font-family: "Trajan"; /* Use the same font-family name defined above */
    -fx-font-size: 48; /* Set the font size */
    -fx-text-fill: linear-gradient(to right, #fdf0af, #FFCC00, #FF9900);
    /*#FFCC00*/
}

/* Hover effect */
.button:hover {
    -fx-cursor: hand;
    -fx-effect: innershadow(three-pass-box, rgba(255,255,255,0.4), 20, 0, 0, 0);
}

/* Define styles for the "Play" or any button that indicates proceeding to next stage */
.play-button {
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(to bottom, #4CAF50, #45a049);
    -fx-text-fill: white;
    -fx-pref-width: 80px;
}

/* Define styles for the "Exit" button or any button that indicates returning to previous stage*/
.exit-button {
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(to bottom, #B22222, #8B0000);
    -fx-text-fill: white;
    -fx-pref-width: 80px;
}

